/* Estilos generales */
.tema-details-container {
  padding: 20px;
  border: 1px solid #0052CC;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Ajuste para que quede mas */
  /* centrado */
  margin: 20px 10% 0;


  
}

.tema-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  
}

/* Estilos para el título del tema */
.tema-container h3 {
  color: #0052CC;
}

/* Estilos para los botones de acción */
.edit-button,
.delete-button {
  margin-right: 10px;
}

/* Estilos para los botones de acción con colores específicos */
.edit-button {
  color: #ffffff;
  background-color: #0052CC;
  border-color: #000000;
}

.delete-button {
  color: #FFFFFF;
  background-color: #ff5630;
  border-color: #ff5630;
}

/* Estilos para el contenedor de elementos */
.elementos-container {
  margin-top: 10px;
}

/* Estilos para los mensajes de advertencia */
.tema-informacion p {
  color: #000000;
}
