#parentEditor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#editor {
  width: 80%;
  max-width: 800px;
  border: 1px solid #ddd;
  padding: 20px;
  overflow-y: auto;
}

.text-editor {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  min-height: 100px;
  overflow-y: auto;
  counter-reset: paragraph; 
}

.Boton-guardar {
  margin-top: 10px;
}

.editor-de-texto {
  display: flex;
  align-items: flex-start;
}

.paragraph-buttons {
  display: flex;
  flex-direction: column;
  margin-right: 2px;
  margin-top: 17px; /* Ajusta el margen superior según tus necesidades */


}

.paragraph-buttons button {
  font-size: 10px; /* Ajusta el tamaño según tus necesidades */
  padding: 3px; /* Ajusta el relleno según tus necesidades */
}
.text-editor {
  flex-grow: 1;
  /* Otros estilos que ya tienes... */
}
