#parentEditor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#editor {
  width: 80%;
  max-width: 800px;
  border: 1px solid #ddd;
  padding: 20px;
  overflow-y: auto;
}

.text-editor {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  min-height: 100px;
  overflow-y: auto;
  counter-reset: paragraph; 
}

.Boton-guardar {
  margin-top: 10px;
}

.editor-de-texto {
  display: flex;
  align-items: flex-start;
}

.paragraph-buttons {
  display: flex;
  flex-direction: column;
  margin-right: 2px;
  margin-top: 14px; /* Ajusta el margen superior según tus necesidades */
}

.paragraph-buttons button {
  font-size: 10px; /* Ajusta el tamaño de la fuente según tus preferencias */
  padding: 5px 10px; /* Ajusta el relleno según tus preferencias */
  background-color: #ecedf0;
  border: none; /* Elimina el contorno del botón */
  cursor: pointer;
  transition: background-color 0.3s;
}

.paragraph-buttons div:hover {
  background-color: #b1b0b0;
}


.text-editor {
  flex-grow: 1;
  /* Otros estilos que ya tienes... */
}
